@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
       --white: #FFFFFF;
     --primary: #0AC2A2;
       --black: #181B1D;
    --black-75: rgba(24, 27, 29, 0.75);
    --black-50: rgba(24, 27, 29, 0.50);
    --black-25: rgba(24, 27, 29, 0.25);
}

html {
    font-size: 10px;
}

a {
    text-decoration: none;
}

* {
    font-family: Poppins;
    color: var(--black);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

span {
    color: var(--primary);
}

h1 {
    font-size: 4.5rem;
}

h2 {
    font-size: 4rem;
    font-weight: 600;
}

h3 {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--black-50);
}

p {
    font-size: 1.5rem;
    margin-top: 10px;
}

h4{
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--black-75);
}